h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img{
  display: block;
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --footer-color:#2f303a;
}

body{
  font-family: Roboto,sans-serif;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Page header*/
.header{
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.navi-cont{
  display: flex;
  align-items: center;
}
.menu{
  display: flex;
  align-items: center;
}
.site-nav.list{
  display: flex;
  align-items: center;
  
}
.address.list{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-nav-item:not(:last-child){
  margin-right: 50px;
}
/* Logo*/
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 90px;
}
.logo .change{
  color: var(--accent-color);
}

/*site-nav*/
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
display: block;
}
.site.link{
padding: 32px 0px;
}

.site-nav .link:hover,
.site-nav .link:focus{
  color: var(--accent-color);
}
.site-nav .studio{
  color: var(--accent-color);
}
  .site-nav .portfolio{
    color: var(--accent-color);
  }
.address .link{
   color: var(--text-color);
   font-weight: 500;
   font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.adress .link:hover,
.adress .link:focus {
  color: var(--accent-color);
}
/*Hero*/

.hero{
  background-color:var(--footer-color);
  padding-top: 200px;
}

.hero-title{
  max-width: 696px;
  color: rgba(255, 255, 255, 1);
   font-style: 400;
   font-weight: 900;
   font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}
.hero .button{
  margin-left: auto;
  margin-right: auto;
   font-weight: 700;
   font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color:var(--secondary-color);
  cursor: pointer;
  border-radius: 4px;
}
/*Section about-us*/ 

.numeration{
  display: flex;
  align-content: center;
  margin-left: -30px;
}
.description{
  margin-left: 30px;
}

.description .title{
  color:var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 margin-bottom: 10px;
 width: 270px;
}
.description .text{
  color:var(--text-color);
  font-weight: 400;
  font-size: 14px;
 line-height: 1.7;
 letter-spacing: 0.03em;
}
/*Section what we do*/
.doing.list{
display: flex;
align-content: center;
margin-left: -30px;
}
.illustr{
margin-left: 30px;
width: 370px;

}
.actions{
  color:var(--primary-text-color);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
 line-height: 1.16;
 letter-spacing: 0.03em;
 text-align: center;
 margin-bottom: 50px;
 
}
/*Section our team*/
.section.team{
  background-color: #f5f4fa;
}
.people.list{
  display: flex;
  margin-left: -30px;
}
.humans-title{
  text-align: center;
  margin-bottom: 10px;
}
.humans-text{
  text-align: center;
  color:var(--text-color);
  }
  .top-title{
  margin-bottom: 50px;
  }
.humans{
margin-left: 30px;
width: 270px;
background-color: #ffffff;
border-radius: 0px 0px 4px 4px;
}
.about-hum{
  padding-top: 30px;
  padding-bottom: 30px;
}
.team .top-title{
  color:var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
 line-height: 1.16;
 letter-spacing: 0.03em;
 text-align: center;
}
.team .title{
    color:var(--primary-text-color);
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.03em;
}
  .team .text{
      color:var(--text-color);
      font-style: 400;
      font-weight: 500;
      font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em;
  }

  /*Footer*/
  .foot{
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
 .adress{
   font-style: normal;
 }
  .logo-fut{
    display: block;
    font-family: Raleway, sans-serif; 
    font-weight: 700;
    font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
  color:var(--secondary-color);
  text-decoration: none;
  margin-bottom: 20px;
  }
  .change-fut{
    color: var(--accent-color);
  }
  .adress-foot .link{
    font-weight: 400;
    font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color:rgba(255,255,255,0.6);
   text-decoration: none;
  }
.adress-foot .link:hover,
.adress-foot .link:focus {
  color: var(--accent-color);
}
.kiev{
    font-weight: 400;
    font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color:var(--secondary-color);
   margin-bottom: 10px;
   
  }
.foot-adress:not(:last-child){
margin-bottom: 10px;
}

/*Portfolio*/

.list .list-title{
    font-style: 400;
    font-weight: 700;
    font-size: 18px;
   line-height: 2;
   letter-spacing: 00.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  }
  .list .list-text{
      font-style: 400;
      font-weight: 700;
      font-size: 16px;
     line-height: 1.87;
     letter-spacing: 00.03em;
    color:var(--text-color)
    }
    .photo{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items:center ;
      flex-wrap: wrap;
      margin-left: -30px;
    }
    .photo-num{
      margin-left: 30px;
      width: 370px;
    }

    .all-buttons.list{
      display: flex;
      align-content: center;
      justify-content: center;
      margin-bottom: 50px;
    }
    .butt:not(:last-child){
      margin-right: 8px;
    }
    /*Buttons*/
.list-button{ 
  border-radius: 4px;
  border:none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--primary-text-color);
   background-color: #f5f4fa;
   cursor: pointer;
   padding-left: 22px;
  padding-right: 22px;
  }
  
  .list-button:hover,
  .list-button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
  }
  .signature{
    border: solid 1px #EEEEEE;
    border-top: none;
    padding: 20px 24px;
  }