h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img{
  display: block;
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
:hover,
:focus{
  outline: none;
}
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --footer-color:#2f303a;
}

body{
  font-family: Roboto,sans-serif;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Page header*/
.header{
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.navi-cont{
  display: flex;
  align-items: center;
}
.menu{
  display: flex;
  align-items: center;
}
.site-nav.list{
  display: flex;
  align-items: center;
  
}
.address.list{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-nav-item:not(:last-child){
  margin-right: 50px;
}
/* Logo*/
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 90px;
}
.logo .change{
  color: var(--accent-color);
}

/*site-nav*/

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
}
.site.link{
padding: 32px 0px;
}

.site-nav .link:hover,
.site-nav .link:focus{
  color: var(--accent-color);
}
.site-nav .studio{
  color: var(--accent-color);
  position: relative;
}
.current::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  display: block;
  bottom: 0;
}
  .site-nav .portfolio{
    color: var(--accent-color);
    position: relative;
  }
.address .link{
   color: var(--text-color);
   font-weight: 500;
   font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
.mail-item{
  display: flex;
  align-items: center;
}
.mail-icon{
  fill: currentColor;
  margin-right: 10px;
}
/*Hero*/

.hero{
  background-image: linear-gradient(
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
  ),
   url(../images/heroback.jpg);
  background-color: #c4c4c4;;
  padding-top: 200px;
  padding-bottom: 200px;
   flex-grow: 1;
  background-size: cover;
  max-width: 1600px;

}

.hero-title{
  max-width: 696px;
  color: rgba(255, 255, 255, 1);
   font-style: 400;
   font-weight: 900;
   font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}
.hero .button{
  margin: 0 auto;
   font-weight: 700;
   font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color:var(--secondary-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}
.button:hover,
.button:focus{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*Section about-us*/ 
.back-logo-about{
background: #F5F4FA;
border-radius: 4px;
margin-right: 30px;
}

.about-us-icon{
  width: 66px;
  height: 70px;
  margin: 25px 102px;
}
.numeration{
  display: flex;
  align-content: center;
  margin-left: -30px;
}
.description{
  margin-left: 30px;
}

.description .title{
  color:var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 margin-bottom: 10px;
 width: 270px;
}
.description .text{
  color:var(--text-color);
  font-weight: 400;
  font-size: 14px;
 line-height: 1.7;
 letter-spacing: 0.03em;
}
.about-us-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 30px;
}
.about-us-logo:not(:last-child){
  margin-right: 30px;
}
/*Section what we do*/
.doing.list{
display: flex;
align-content: center;
margin-left: -30px;
}
.illustr{
margin-left: 30px;
width: 370px;
}
.section.doings{
  padding-top: 0px;
}
.actions{
  color:var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
 line-height: 1.16;
 letter-spacing: 0.03em;
 text-align: center;
 margin-bottom: 50px;
}
    
    

/*Section our team*/
.section.team{
  background-color: #f5f4fa;
}
.people.list{
  display: flex;
  margin-left: -30px;
}
.humans-title{
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
letter-spacing: 0.03em;

}
.humans-text{
  text-align: center;
  color:var(--text-color);
  margin-bottom: 16px;
  }
  .top-title{
  margin-bottom: 50px;
  }
.humans{
margin-left: 30px;
width: 270px;
background-color: #ffffff;
border-radius: 0px 0px 4px 4px;
box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.about-hum{
  padding-top: 30px;
  padding-bottom: 30px;
}
.team .top-title{
  color:var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
 line-height: 1.16;
 letter-spacing: 0.03em;
 text-align: center;
}
.team .title{
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.03em;
}
  .team .text{
      color:var(--text-color);
      font-weight: 500;
      font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em;
  }
  
     .social-icons{
       display: flex;
       justify-content: center;
     }
       
     
    .team-icon{
      width: 20px;
      height: 20px;
      fill: #AFB1B8;
    }
    .team-list-icon:not(:last-child){
      margin-right: 10px;
    }
    .humans-soc-link{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      width: 44px;
      border-radius: 30px;
      cursor: pointer;
    }
    .humans-soc-link:hover,
    .humans-soc-link:focus{
      background-color: var(--accent-color);
    }
    
    .humans-soc-link:hover> .team-icon,
    .humans-soc-link:focus> .team-icon{
      fill: var(--secondary-color);
    }


    
  
/*Section clients*/
.clients-title{
font-weight: 700;
text-align:center;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
margin-bottom: 50px;
}
.clients-back:not(:last-child){
  margin-right: 30px;
}

.clients-list{
  display: flex;
  justify-content: center;
}
.clients-icon{
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: #AFB1B8;
}
.clients-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.clients-link:hover,
.clients-link:focus{
  border-color: var(--accent-color);
}

.clients-link:hover> .clients-icon,
.clients-link:focus> .clients-icon{
  fill: var(--accent-color);
}


.clients-item:not(:last-child){
  margin-right: 30px;
}



  /*Footer*/
  .footer-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 20px;
  }
  
  .foot{
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
  }
  .foot-cont{
    display:flex;
    align-items: baseline;
  }
  .foot-left{
    display: block;
  }
  .foot-right{
    display: block;
    margin-left: 70px;
  }
  .join{
    background: rgba(255, 255, 255, 0.1);
  }
  .join-icon{
    fill: var(--secondary-color);
  }
 .adress{
   font-style: normal;
 }
  .logo-fut{
    display: block;
    font-family: Raleway, sans-serif; 
    font-weight: 700;
    font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
  color:var(--secondary-color);
  text-decoration: none;
  margin-bottom: 20px;
  }
  .change-fut{
    color: var(--accent-color);
  }
  .adress-foot .link{
    font-weight: 400;
    font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color:rgba(255,255,255,0.6);
   text-decoration: none;
  }
.adress-foot .link:hover,
.adress-foot .link:focus {
  color: var(--accent-color);
}
.kiev{
    font-weight: 400;
    font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color:var(--secondary-color);
   margin-bottom: 10px;
   
  }
.foot-adress:not(:last-child){
margin-bottom: 10px;
}

/*Portfolio*/
.overlay{
  background-color:  rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  padding: 24px 64px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transform: translateY(100%);

}
.port-thumb{
  position: relative;
  overflow: hidden;
}
.portfolio-card{
  display: block;
  cursor: pointer;
}
.portfolio-card:hover,
.portfolio-card:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  transform: translateY(0%);
  }

.list .list-title{
    font-style: 400;
    font-weight: 700;
    font-size: 18px;
   line-height: 2;
   letter-spacing: 00.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  }
  .list .list-text{
      font-style: 400;
      font-weight: 400;
      font-size: 16px;
     line-height: 1.87;
     letter-spacing: 00.03em;
    color:var(--text-color)
    }
    .photo{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items:center ;
      flex-wrap: wrap;
      margin-left: -30px;
    }
    .photo-num{
      margin-left: 30px;
      width: 370px;
    }
    .photo-num:nth-last-child(n+4){
      margin-bottom: 30px;
    }

    .all-buttons.list{
      display: flex;
      align-content: center;
      justify-content: center;
      margin-bottom: 50px;
    }
    .butt:not(:last-child){
      margin-right: 8px;
    }
    /*Buttons*/
.list-button{ 
  border-radius: 4px;
  border:none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--primary-text-color);
   background-color: #f5f4fa;
   cursor: pointer;
   padding: 6px 22px;
  }
  
  .list-button:hover,
  .list-button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .signature{
    border: solid 1px #EEEEEE;
    border-top: none;
    padding: 20px 24px;
  }