h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img{
  display: block;
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --footer-color:#2f303a;
}

body{
  font-family: Roboto,sans-serif;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin: 0,auto;
  width: 1200px;
}
.section{
  padding-top: 30px;
  padding-bottom: 30px;
}

/*Page header*/
.header{
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  padding-bottom: 25px;
  padding-top: 25px;
}
.navi-cont{
  display: flex;
  align-items: center;
  
}
.menu{
  display: flex;
  align-items: center;
}
.site-nav.list{
  display: flex;
  align-items: center;
}
.address.list{
  display: flex;
  align-items: center;
  margin-left:auto;
}
.site-nav-item:not(:last-child){
  margin-right: 50px;
}
/* Logo*/
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 90px;
}
.logo .change{
  color: var(--accent-color);
}

/*site-nav*/
.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus{
  color: var(--accent-color);
}
.site-nav .studio{
  color: var(--accent-color);
}
  .site-nav .portfolio{
    color: var(--accent-color);
  }
.address .link{
   color: var(--text-color);
   text-decoration: none;
   font-style: 400;
   font-weight: 500;
   font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.adress .link:hover,
.adress .link:focus {
  color: var(--accent-color);
}
/*Hero*/

.hero{
  background-color:var(--footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title{
  max-width: 696px;
  color: rgba(255, 255, 255, 1);
   font-style: 400;
   font-weight: 900;
   font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero .button{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-style: 400;
   font-weight: 700;
   font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color:var(--secondary-color);
  cursor: pointer;
  border-radius: 4px;
}
/*Section about-us*/ 

.numeration{
  display: flex;
  align-content: center;
  margin-left: -30px;
  margin-top: -30px;
}
.description{
  max-width: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.description .title{
  color:var(--primary-text-color);
  font-style: 400;
  font-weight: bold;
  font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
}
.description .text{
  padding-top: 10px;
  color:var(--text-color);
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
 line-height: 1.7;
 letter-spacing: 0.03em;
}
/*Section what we do*/
.doing.list{
display: flex;
align-content: center;
margin-left: -30px;
margin-top: -50px;
padding-bottom: 50px;
}
.illustr{
margin-top: 50px;
margin-left: 30px;
max-width: calc((100% - 90px) / 3);
}
.illustr:not(:last-child){
  padding-right: 30px;
}
.actions{
  color:var(--primary-text-color);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
 line-height: 1.16;
 letter-spacing: 0.03em;
 text-align: center;
 padding-bottom: 50px;
}
/*Section our team*/
.section.team{
  background-color: #f5f4fa;
}
.people.list{
  display: flex;
  align-content: center;
  margin-left: -30px;
margin-top: -50px;
}
.humans-title{
  text-align: center;
}
.about-hum{
  padding: 30px;
}
.humans-text{
  padding-top: 10px;
  text-align: center;
  color:var(--text-color);
  }
  .top-title{
  padding-top: 94px;
  padding-bottom: 50px;
  }
.humans{
margin-left: 30px;
margin-top: 50px;
}
.team .top-title{
  color:var(--primary-text-color);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
 line-height: 1.16;
 letter-spacing: 0.03em;
 text-align: center;
}
.team .title{
    color:var(--primary-text-color);
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.03em;
}
  .team .text{
      color:var(--text-color);
      font-style: 400;
      font-weight: 500;
      font-size: 16px;
     line-height: 1.18;
     letter-spacing: 0.03em;
  }

  /*Footer*/
  .foot{
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .logo-fut{
    font-family: Raleway, sans-serif;
    font-style: 400;
    font-weight: 700;
    font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
  color:var(--secondary-color);
  text-decoration: none;
  }
  .change-fut{
    color: var(--accent-color);
  }
  .adress-foot .link{
    font-style: 400;
    font-weight: 400;
    font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color:rgba(255,255,255,0.6);
   text-decoration: none;
  }
.adress-foot .link:hover,
.adress-foot .link:focus {
  color: var(--accent-color);
}
.kiev{
    font-style: 400;
    font-weight: 400;
    font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color:var(--secondary-color)
  }
.adress-foot.list{
  margin-top: 10px;
}
.foot-adress{
  margin-bottom: 9px;
}

/*Portfolio*/

.list .list-title{
    font-style: 400;
    font-weight: 700;
    font-size: 18px;
   line-height: 2;
   letter-spacing: 00.06em;
  color: var(--primary-text-color);
  }
  .list .list-text{
      font-style: 400;
      font-weight: 700;
      font-size: 16px;
     line-height: 1.87;
     letter-spacing: 00.03em;
    color:var(--text-color)
    }
    .photo{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items:center ;
      flex-wrap: wrap;
      margin-top: -50px;
      margin-left: -30px;
    }
    .photo-num{
      margin-top: 50px;
      margin-left: 30px;
    }

    .all-buttons.list{
      display: flex;
      align-content: center;
      justify-content: center;
    }
    .butt:not(:last-child){
      margin-left: 10px;
    }
    /*Buttons*/
.button{ 
  border-radius: 4px;
  margin-top: 100px;
  border:none;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--primary-text-color);
   background-color: #f5f4fa;
   cursor: pointer;
  }
  
  .button:hover,
  .button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
  }
  .signature{
    border: solid 1px #EEEEEE;
    border-top: none;
    padding-top: 20px;
  }