.back-logo-about{
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 4px;
}

.about-us-icon{
  width: 70px;
  height: 70px;
}
.numeration{
  display: flex;
  margin-left: -30px;
}


.description{
  margin-left: 30px;
  
 .title{
  color:var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 margin-bottom: 10px;
 width: 270px;
 }

.text{
  color:var(--text-color);
  font-weight: 400;
  font-size: 14px;
 line-height: 1.7;
 letter-spacing: 0.03em;
}
}

.about-us-logo:not(:last-child){
  margin-right: 30px;
}