.clients-title{
    font-weight: 700;
    text-align:center;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    }
    .clients-back:not(:last-child){
      margin-right: 30px;
    }
    
    .clients-list{
      display: flex;
    }
    .clients-icon{
      width: 106px;
      height: 60px;
      fill: #AFB1B8;
      transition-duration: 250ms;
      transition-property: fill;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .clients-link{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 92px;
      border: 1px solid #AFB1B8;
      border-radius: 4px;
      transition-duration: 250ms;
      transition-property: border-color;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .clients-link:hover,
    .clients-link:focus{
      border-color: var(--accent-color);
      outline: none;
    }
    
    .clients-link:hover> .clients-icon,
    .clients-link:focus> .clients-icon{
      fill: var(--accent-color);
    }
    
    
    .clients-item:not(:last-child){
      margin-right: 30px;
    }