.portfolio-card{
  position: relative;
  display: block;
  cursor: pointer;
  
 &:hover .overlay,
 &:focus .overlay{
  transform: translateY(0%);

}
 &:hover,
 &:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
 transition: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

  .port-thumb{
    position: relative;
    overflow: hidden;
  }
  
  .overlay{
    background-color:  rgba(33, 150, 243, 0.9);
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    padding: 64px 24px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .list{
    .list-title{
     font-style: 400;
     font-weight: 700;
     font-size: 18px;
    line-height: 2;
    letter-spacing: 00.06em;
   color: var(--primary-text-color);
   margin-bottom: 4px;
   }
   .list-text{
       font-style: 400;
       font-weight: 400;
       font-size: 16px;
      line-height: 1.87;
      letter-spacing: 00.03em;
     color:var(--text-color)
     }
}
      .photo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center ;
        flex-wrap: wrap;
        margin-left: -30px;
      }
      .photo-num{
        margin-left: 30px;
        width: 370px;
      
      &:nth-last-child(n+4){
        margin-bottom: 30px;
      }
}
  
      .all-buttons.list{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-bottom: 50px;
      }
      .butt:not(:last-child){
        margin-right: 8px;
      }
      .list-button{ 
        border-radius: 4px;
        border:none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--primary-text-color);
         background-color: #f5f4fa;
         cursor: pointer;
         padding: 6px 22px;
         transition-duration: 250ms;
         transition-property: background-color, color,box-shadow;
         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        
         &:hover,
         &:focus {
          color: var(--secondary-color);
          background-color: var(--accent-color);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
        }
        .signature{
          border: solid 1px #EEEEEE;
          border-top: none;
          padding: 20px 24px;
        }